section{
    max-width: 1000px;
    margin: 0 auto;
}
#info{
    display: flex;
    justify-content: space-between;
}
.info-image{
    width: 200px;
}
.info-image img{
    width: 100%;
}
#exp table{
    width: 100%;
}
#exp .date{
    width: 15%;
}
#exp .entreprise{
    width: 15%;
}
#exp .description{
    width: 70%;
}
p{
    color: rgb(60, 45, 161);
}
table {
    border: medium solid #0dda29;
    width: 50%;
    }
    td, th {
    border: thin solid #000000;
    width: 50%;
    }
#fin{
border: thin solid #000000;
width: 50%;
}
td, th {
border: thin solid #000000;
width: 50%;
}
